<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Könyvek</title>
    <link rel="stylesheet" href="/css/books.css" />
</head>
<body>
    <div layout:fragment="loginContent">
        <h1>Tárolt könyvek: </h1><br>
        <div class="book-container">
            <div th:each="book : ${allBooks}" class="book-box">
                <h3 th:text="${book.title}">Könyv címe</h3>
                <h3 th:text="${book.author}">Könyv szerzője</h3>
                <h3>Műfajok: </h3>
                <div class="genres">
                    <h4 th:each="category : ${book.categories}" th:text="${category.category}">Műfaj...</h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>